/*! by Abel Elizalde */
@font-face {
  font-family: 'newsgoth';
  src: url("../../css/fonts/newsgotlb.woff2"); }

@font-face {
  font-family: 'exo';
  src: url("../../css/fonts/exo.woff2"); }

html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  color: #555659;
  background: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a {
  transition: 0.15s;
  text-decoration: none;
  cursor: pointer; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

.row {
  display: flex; }

.row > * {
  flex: 1;
  flex-grow: 4; }
  .row > *.row-sm {
    flex-grow: 2; }
  .row > *.row-lg {
    flex-grow: 8; }

.wrapper {
  margin: 0 auto;
  max-width: 20rem;
  padding: 1.5rem 1.5rem; }

.wrapper-sm {
  margin: 0 auto;
  max-width: 48rem;
  padding: 3rem 3rem; }

.wrapper-lg {
  margin: 0 auto;
  max-width: 75rem;
  padding: 4.5rem 4.5rem; }

@media (min-width: 48rem) {
  .row-sm {
    display: block; } }

@media (min-width: 75rem) {
  .row-lg {
    display: block; } }

html {
  font-size: 1rem; }

.text-big {
  font-size: 1rem; }
  .text-big:hover {
    font-size: 1.05rem; }

@media (min-width: 48rem) {
  html {
    font-size: 1.1rem; }
  .text-big {
    font-size: 1.1rem; }
    .text-big:hover {
      font-size: 1.15rem; } }

@media (min-width: 75rem) {
  html {
    font-size: 1.2rem; }
  .text-big {
    font-size: 1.2rem; }
    .text-big:hover {
      font-size: 1.25rem; } }

a.button, .button, button {
  background: #00549F;
  color: white;
  cursor: pointer;
  transition: 0.15s; }

a.button:hover, .button:hover, button:hover, a.button:focus, a.button:active, .button:focus, .button:active, button:focus, button:active {
  background: #004786;
  color: white;
  font-size: 1rem; }

.back {
  background: #ffffff; }

.back-primary {
  background: #00549F; }

.back-secondary {
  background: #68953B; }

.back-dark {
  background: #e6e6e6; }

.text-primary {
  color: #00549F; }

.text-secondary {
  color: #68953B; }

.text-dark {
  color: #3c3d3f; }

.text-white {
  color: white; }

.text-blue {
  color: #00549F; }

.text-green {
  color: #68953B; }

.text-red {
  color: #BC112E; }

.text-yellow {
  color: #DB9635; }

.push {
  margin-right: 1.5rem; }

.push-bot {
  margin-bottom: 1.5rem; }

.island {
  padding: 1.5rem; }

.island-double {
  padding: 3rem; }

.gutter {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.horizontal-center {
  display: flex;
  justify-content: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.vertical-bottom {
  display: flex;
  align-items: flex-end; }

.vertical-top {
  display: flex;
  align-items: flex-start; }

.link {
  cursor: pointer; }

.hide {
  display: none; }

.show {
  display: inherit; }

@media (min-width: 48rem) {
  .hide-sm {
    display: none; }
  .show-sm {
    display: inherit; } }

@media (min-width: 75rem) {
  .hide-lg {
    display: none; }
  .show-lg {
    display: inherit; } }
