.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

@each $entry in $grid {
  .tablet-#{floor($entry)},
  .desktop-#{floor($entry)} {
    width: 100%;
  }
  .flex-#{floor($entry)} {
    flex: #{floor($entry) * 0.1};
  }
  .width-#{floor($entry)} {
    width: percentage($entry) * 0.01;
    float: left;
  }
  .push-#{floor($entry)} {
    margin-left: percentage($entry) * 0.01;
  }
}

@include tablet {
  @each $entry in $grid {
    .tablet-#{floor($entry)} {
      width: percentage($entry) * 0.01;
      float: left;
    }
    .push-tablet-#{floor($entry)} {
      margin-left: percentage($entry) * 0.01;
    }
  }
  .column {
    flex: 1;
  }
}

@include desktop {
  @each $entry in $grid {
    .desktop-#{floor($entry)} {
      width: percentage($entry) * 0.01;
      float: left;
    }
    .push-desktop-#{floor($entry)} {
      margin-left: percentage($entry) * 0.01;
    }
  }
}