// colors
.bg-primary {
  background: $primary-color;
}

.bg-secundary {
  background: $secondary-color;
}

.background {
  background: $background;
}

.alt-background {
  background: $alternate-background;
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

// spaces
.margin {
  margin: $space;
}

.double-margin {
  margin: $space * 2;
}

.half-margin {
  margin: $space * 0.5;
}

.padding {
  padding: $space;
}

.double-padding {
  padding: $space * 2;
}

.half-padding {
  padding: $space * 0.5;
}

// text
.text-center {
  text-align: center;
}

// floats
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// extras
.link {
  cursor: pointer;
}