// colors
.back {
  background: $background;
}

.back-primary {
  background: $primary-color;
}

.back-secondary {
  background: $secondary-color;
}

.back-dark {
  background: darken($background, 10%);
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-dark {
  color: darken($font-color, 10%);
}

.text-white {
  color: white;
}

.text-blue {
  color: $blue;
}

.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.text-yellow {
  color: $yellow;
}

// spaces
.push {
  margin-right: $space;
}

.push-bot {
  margin-bottom: $space;
}

.island {
  padding: $space;
}

.island-double {
  padding: $space*2;
}

.gutter {
  margin-right: $space;
  margin-left: $space;
}

// text
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// align
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.vertical-bottom {
  display: flex;
  align-items: flex-end;
}

.vertical-top {
  display: flex;
  align-items: flex-start;
}

// extras
.link {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

@include tablet {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: inherit;
  }
}

@include desktop {
  .hide-lg {
    display: none;
  }
  .show-lg {
    display: inherit;
  }
}