// colors
.back {
  background: $background;
}

.back-primary {
  background: $primary-color;
}

.back-secondary {
  background: $secondary-color;
}

.back-dark {
  background: darken($background, 10%);
}

.back-blue {
  background: $blue;
}

.back-green {
  background: $green;
}

.back-red {
  background: $red;
}

.back-yellow {
  background: $yellow;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-dark {
  color: darken($font-color, 10%);
}

.text-white {
  color: white;
}

.text-blue {
  color: $blue;
}

.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.text-yellow {
  color: $yellow;
}

// spaces
.push {
  margin-right: $space;
}

.push-bot {
  margin-bottom: $space;
}

.push-none {
  margin-right: 0;
}

.island {
  padding: $space;
}

.island-double {
  padding: $space*2;
}

.gutter {
  margin-right: $space;
  margin-left: $space;
}

.vertical-island {
  padding-top: $space;
  padding-bottom: $space; 
}

.vertical-island-half {
  padding-top: $space * 0.5;
  padding-bottom: $space * 0.5; 
}

// text
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// align
.horizontal-center {
  display: flex;
  justify-content: center;
}

.horizontal-left {
  display: flex;
  justify-content: flex-start;
}

.horizontal-right {
  display: flex;
  justify-content: flex-end;
}

.horizontal-space-between {
  display: flex;
  justify-content: space-between;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.vertical-bottom {
  display: flex;
  align-items: flex-end;
}

.vertical-top {
  display: flex;
  align-items: flex-start;
}

// extras
.link {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

.fixed-full {
  position: fixed;
  width: 100%;
  top: 0;
}

.shadow {
  box-shadow: 0 0 1px 0 $a-color;
}
@include tablet {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: inherit;
  }
}

@include desktop {
  .hide-lg {
    display: none;
  }
  .show-lg {
    display: inherit;
  }
}