
h1 {
  // font-weight: $heading-font-weight;
  // font-family: $heading-font-family;
  // line-height: $heading-line-height;
  // color: $heading-font-color;
}
html {
    font-size: 120%;
  }

@include tablet {
  html {
    font-size: 110%;
  }
}

@include desktop {
  html {
    font-size: 100%;
  }
}