h1 {
  // font-weight: $heading-font-weight;
  // font-family: $heading-font-family;
  // line-height: $heading-line-height;
  // color: $heading-font-color;
}

html {
  font-size: $font-size * 1;
}

.text-big {
  font-size: $font-size * 1;
  &:hover {
    font-size: $font-size * 1.05;
  }
}

@include tablet {
  html {
    font-size: $font-size * 1.1;
  }
  .text-big {
    font-size: $font-size * 1.1;
    &:hover {
      font-size: $font-size * 1.15;
    }
  }
}

@include desktop {
  html {
    font-size: $font-size * 1.2;
  }
  .text-big {
    font-size: $font-size * 1.2;
    &:hover {
      font-size: $font-size * 1.25;
    }
  }
}