@font-face {
    font-family: 'newsgoth';
    src: url('../../css/fonts/newsgotlb.woff2');
}

@font-face {
    font-family: 'exo';
    src: url('../../css/fonts/exo.woff2');
}

$buttons: ('a.button, .button, button');
$transition: .15s;
$phone: 20rem;
$tablet: 48rem;
$desktop: 75rem;
$font-size: 1rem;
$space: 1.5rem;
$border: 2px;
$background: #ffffff;
$alternate-background: #d5d5d5;
$primary-color: #00549F;
$secondary-color: #68953B;
$font-color: #555659;
$font-family: Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$blue:#00549F;
$skyBlue:#4a7bab;
$green:#68953B;
$red:#BC112E;
$yellow:#DB9635;
$orange:#eb3c00;
$blueHover:#013360;
// $border-width: 1px;
// $border-style: solid;
// $border-color: #cdcdcd;
// $border-radius: 4px;
// $borders: $border-width $border-style $border-color;
// $button-background: $primary;
// $button-background-hover: darken($button-background, 10%);
// $button-color: #ffffff;
// $button-font-weight: 600;
// $button-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
// $button-font-size: 1rem;
// $button-border-width: 1px;
// $button-border-style: solid;
// $button-border-color: $button-background;
// $button-border-radius: $border-radius;
// $button-text-transform: uppercase;
// // Accent buttons
// $accent-button-background: $secondary;
// $accent-button-color: #ffffff;
// $accent-button-color-hover: #ffffff;
// // Muted Buttons
// $muted-border: 1px solid $accent;
// $muted-border-hover: 1px solid darken($accent, 30%);
// $muted-background: transparent;
// $muted-background-hover: transparent;
// $muted-color: darken($accent-color, 50%);
// $muted-color-hover: darken($accent-color, 50%);
// // Round Buttons
// $round-buttons: 40px;
// $forms: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
// $buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]');
// $input-background: #ffffff;
// $placeholder: darken($accent-color, 20%);
// $form-border: 1px solid #cdcdcd;
// $form-border-hover: 1px solid darken(#cdcdcd, 10%);
// $form-border-focus: 1px solid #898989;
// $stripes: #f0f0f0;
// $caption: darken($accent-color, 20%);
// $code-color: $font-color;
// $code-family: Menlo, monospace;
// $code-background: #f4f4f4;
// $code-borders: $borders;